<div style="padding: 30px;">

  <%= form_tag("/preview") do %>
    <br><br>
    Let's start 
    <br>what is your impression about this week ?<br><br>
    <%= text_area "report","impression", :value => "", :class => 'impression-box', :required => true %>
    <br> <br>
    <div class="tasks-wrapper">
      <div style="display: inline;">
        Tasks done this week<br><br>
        <%= text_area "report","tasks",:value => get_issue_titles(@issues_this_week), :tabindex=>3, :class => 'task-box', :required => true %>
      </div>
      <div style="display: inline;">  
        <span style="display: inline;position: absolute;margin-top: -40px;">Plan for next week</span>
        <%= text_area "report","next_week_tasks", :value => get_issue_titles(@issues_future), :tabindex=>3, :class => 'task-box', :required => true %>
      </div>
    </div>  
    <br><br>
    <br>
    
    <div class="create-fixed-box ">
      <span style="font-family: Helvetica;color: #666666"><br>Send report to</span><br>
      <%= email_field_tag 'emailTo', nil, :class => 'email-box', :required => true %><br>
      <label style="font-size: 10px;">
        <span ><%= check_box_tag 'mailCc', 'Add CC', false %>&nbsp;&nbsp;Add CC</span><br>
      </label>  
      <div id="ccBox">
        <span style="font-family: Helvetica;color: #666666"><br>Send a copy of report to</span><br>
        <%= email_field_tag 'emailCc', nil, :class => 'email-box', :required => false %>
      </div>  
      <span style="font-family: Helvetica;color: #666666">Sending email via &nbsp;</span><b><%= @user['contact']['email_addresses'][0]['address']%></b>
      <%= hidden_field_tag 'emailFrom', @user['contact']['email_addresses'][0]['address'] %><br><br>
      <%= submit_tag("", :id => 'preview-btn', :class => 'registerButton', :value => 'Preview') %>
      <!-- <br><br><br><a href="#jiraLinkage" role="button" class="registerButton" style="text-decoration: none;" data-toggle="modal">Connect with JIRA to get your tasks automatically </a><br> -->
   <div id="jiraLinkage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel">Enter Jira details</h3>
    </div>
    <div class="modal-body">
      <p>JIRA url</p>
      <p><input type="text" class="span3" align="middle" placeholder=""/></p>
          <p>Username</p>
      <p><input type="text" class="span3" align="middle" placeholder=""/></p>
          <p>Password</p>
      <p><input type="password" class="span3" align="middle" placeholder=""/></p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button data-dismiss="modal" class="btn btn-primary">Connect</button>
    </div>
  </div>
    </div> 
  <% end %>
</div>  

<script>
  
  $("#mailCc").is(':checked') ? $("#ccBox").fadeIn("slow") : $("#ccBox").fadeOut("slow") ;
    //$("#ccBox").hide();
  
   $("#mailCc").click(function() {
     if($(this).is(':checked')) { 
      $("#ccBox").fadeIn("slow");
     }else { 
       $("#ccBox").fadeOut("slow");
       $("#emailCc").val("");
     }
  });
  
  $("#preview-btn").click(function() {
    emailIds = [$("#emailTo").val()];
    if (invalidEmail(emailIds)){
      //displayError("");
      return false;
    }
    return true;
  });
  
  function invalidEmail(emailIds) {
    return emailIds[0].split("@")[1].indexOf("rakuten") > 0 ? false : true;
  }
</script>
