 <body style="background:#FCFCFC ;font-family: Helvetica;margin: 0;padding:20px;color: #666666;font-size: 15px;">
  <div class="mr-logo">
<img src="http://www.avivarma.com:3000/myReport-logo1.png" style="height: 65px; position: absolute; width: 190px; margin: -30px 0px 0px 0px;"><br><div style="margin-left:650px;position:absolute; margin-top: -36px;">
  <%= form_tag("/sendReport") do %>
           <%= submit_tag("", :class => 'registerButton', :value => 'Okay ! Send it') %><br>
           <label>
             <%= radio_button_tag 'mailType' , 'html', true  %>
             Send As HTML mail
           </label>
           <label>
             <%= radio_button_tag 'mailType' , 'text' %>
             Send As Text mail
           </label>
         <% end %>
         </div><br>
</div>
  <div style="height:50px;width:80%;padding:20px;  border-bottom: 2px solid #C4151C;">
      <div style="position: relative;  margin: auto;">

      <img style="width:auto;height:auto;padding:6px; background: #FFFFFF;" src="<%= @user['mugshot_url'] %>"></img>

    </div>
    <div style="line-height: 28px; font-size: 18px; color:#222222;margin: -60px 0 0 67px;">
       <%= @user['full_name'] %> |  <%= @user['job_title'] %> |  <%= @user['department'] %><br>
     <span style="font-family: Helvetica;color: #666666">My weekly report (<%= DateTime.now.beginning_of_week.strftime("%a %b %d %Y") %> to <%=( DateTime.now.end_of_week - 2 ).strftime("%a %b %d %Y") %> )</span>
     <span style="font-family: Helvetica;color: #666666">Sending email via &nbsp;</span><%= @user['contact']['email_addresses'][0]['address']%>
    </div>
 </div>
 <div style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);border: 10px solid #FFFFFF;margin:20px;padding:10px;height:50%; width:70%; background: #FFFFFF;">


   <br>
     <span style="color: #3F3F38;font-family: Helvetica;font-size: 17px;text-align: left;font-weight: bold;">Impression of this week </span><br>
        <br> <%= @report_contents["impression"] %>
        
        <br><br>
        <span style="color: #3F3F38;font-family: Helvetica;font-size: 17px;text-align: left;font-weight: bold;">Tasks of this week </span><br>
        <br><%= @report_contents["tasks"] %>

        <br><br>
        <span style="color: #3F3F38;font-family: Helvetica;font-size: 17px;text-align: left;font-weight: bold;">Next week's tasks and plan</span><br>
        <br><%= @report_contents["next_week_tasks"] %>
        
        <br><br>
        <span style="color: #3F3F38;font-family: Helvetica;font-size: 17px;text-align: left;font-weight: bold;">Other comments</span><br>
        <br><%= @report_contents["other"] %>

<br><br>
</div>
Thank you for reading ! Have a nice weekend :)<br><br>
<br>
Powered by <img src="http://www.avivarma.com:3000/myReport-logo1-bk.png" style="height: 40px; position: absolute; width: 100px; margin: -10px 0px 0px 10px;">

  </body>
