<!DOCTYPE html>
<html>
  <head>
    <title>Myreport</title>
    <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "my_report" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <style>
    .header {
      width: 100%;
      height: 10%;
      color: #ffffff;
      background-color: #000000;
      overflow: hidden;
    }
    
    .page {
      width: 100%;
      height: 90%;
      
    }
    </style>
    
    
 <!-- Fixme. Bad remove following code -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <!-- <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script> -->
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="header">
      <div class="container navbar-wrapper">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a  style="color: #FFFFFF; font-size: 29px;" href="/">My Weekly Report</a></li>
                <li><a href="#about">Huh?</a></li>
                <li><a href="#about">Blog</a></li>
                <li><a href="#contact">Feedback</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div><!-- /.container -->
    </div>
      <%= yield %>
  </body>
</html>
